version: '3.8'

services:
  mongodb:
    image: mongo:7.0
    container_name: filestream_mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    environment:
      MONGO_INITDB_DATABASE: filestream_bot

  filestream_bot:
    build: .
    container_name: filestream_bot
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      - mongodb
    environment:
      - MONGO_URI=mongodb://mongodb:27017/
    env_file:
      - .env
    volumes:
      - ./logs:/app/logs

volumes:
  mongodb_data:
